.viewer-row {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reel {
  width: 220px;
  height: 100%;
  background: #111;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.film-inner {
  height: auto;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 10px dashed #fff;
  border-right: 10px dashed #fff;
}

.reel::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -10px;
  right: -20px;
  bottom: -10px;
  left: -20px;
  border: 10px solid #111;
}

.film-frame {
  width: 180px;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  margin: 14px 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.center-image {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.film-inner::-webkit-scrollbar {
  width: 6px;
}

.film-inner::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
